
.button-1, .button-2, .button-3 {
    display: block;
    margin-bottom: 10px;
    height: 40px;

}
.button-1 {
    font-weight: 900;
    width: 120px;
    color: #7dc8c8;
    border: 2px solid #7dc8c8;
    background-color: white;
    border-radius: 20px;
}

.button-2 {
    background-color: rgb(11, 230, 186);
    color: white;
    width: 40px;
    border-radius: 50%;
    font-weight: bolder;
    font-size: large;
    border:none
}

.button-3 {
    width: 150px;
    background-color: rgb(0, 123, 255);
    color: white;
    border: 2px solid black;
    box-shadow: 4px 4px black;
}
