
.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 16px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 12px;
}
.side-nav {
    display: inline-block;
    height: 300px;
    width: 200px;
    background-color: blue;
    vertical-align: top;
    margin-right: 16px;
}
.main {
    height: 400px;
    width: 730px;
    background-color: red;
    display: inline-block;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-top: 12px;
    margin-left: 17px;
    margin-bottom: 12px;

}
#advertisement {
    height: 120px;
    width: 670px;
    background-color: purple;
    display: inline-block;
    margin: 0px 20px;
}
