.container{
    width: 800px;
    height: 900px;
    background-color: silver;
    margin: 0px auto;
    border-top: solid black;
    padding: 16px;
}
.sub-container {
    text-align: center;
    font-size: 50px;
    font-style:normal;
    margin: 15px 15px;

}
.top-nav {
    display: flex;
    height: 200px;
    background-color: rgba(46, 204, 235, 0.751);
    padding: 20px;
    margin-bottom: 12px;
    justify-content: space-between;
    
}

.mid-nav {
    display: flex;
    height: 200px;
    background-color: rgb(193, 124, 169);
    padding: 20px;
    margin-bottom: 12px;
    justify-content:space-evenly;
}

.button-nav {
    display: flex;
    height: 200px;
    background-color: whitesmoke;
    padding: 20px;
    margin-bottom: 12px;
    justify-content:space-between;
}

a {
    text-decoration: none;
}
p {
    text-align: center;

}